.condetail_operate {
    width: 55px;
    height: 15px;
    line-height: 15px;
    margin: 0 auto
}
.condetail_operate>div{
    margin: 0 6px;
}
.condetail_update {
    width: 15px;
    height: 15px;
    float: left;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: 0 -160px;
}

.condetail_delete {
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: -32px -160px;
}

#content .ux-bar-right .ux-toolbar-item {
    margin-right: 0;
}
.icon-space {
    margin-right: 10px;
}
.fontcusor{
    cursor: pointer;
}