@CHARSET "UTF-8";
/*通用样式*/
html {
    /*font-size: 125%;*/
    font-family: microsoft-yahei;
    width: 100%;
}

body {
    font-size: 16px;
    margin: 0;
    /*padding: 0 20px;*/
    padding: 0;
}

div, span, p {
    margin: 0;
    padding: 0;
}

/*上面内容部分的样式*/

/*上面部分的头部内容样式*/
.taken-top {
    background: #FFFFFF;
    height: 100%;
}

.top-header {
    height: 50px;
}

.invoices-header {
    height: 40px;
}

.worktable {
    font-size: 16px;
    color: #333333;
    line-height: 60px;
    border-left: 2px solid #45b7ff;
    padding-left: 10px;
}

.workOrder {
    font-size: 14px;
    line-height: 50px;
    border-left: 2px solid #999;
    padding: 0 25px;
    cursor: pointer;
    color: #999999;
}

.header-left {
    display: inline-block;
    float: left;
    line-height: 40px;
    vertical-align: middle;
}

.header-right {
    display: inline-block;
    float: right;
    line-height: 50px;
    vertical-align: middle;
}

.invoices-right {
    line-height: 40px;
}

.wait-work {
    font-size: 14px;
    color: #999999;
    /*border-left: 2px solid #999999;*/
    padding: 0 25px 0 0;
    cursor: pointer;
    margin-left: 5px;
}

.wait-work:hover {
    color: #45b7ff;
}

.taken-work {
    border-left: 2px solid #999999;
    font-size: 14px;
    color: #999999;
    padding: 0 25px;
    cursor: pointer;
}

.taken-work:hover {
    color: #45b7ff;
}

.search {
    width: 198px;
    height: 24px;
    border-radius: 12px;
    font-size: 12px;
    color: #cccccc;
    border: 1px solid #cccccc;
    /*margin-right: 25px;*/
    padding-left: 39px;
    background: url("../images/search.png") no-repeat 15px 6px;
    /*vertical-align: middle;*/
}

#searchBox {
    margin-top: 10px;
    margin-right: 5px;
}

#order-searchBox {
    margin-top: 5px;
}

.btn {
    font-size: 12px;
    width: 110px;
    height: 24px;
    color: #ffffff;
    border-radius: 2px;
    background-color: #45b7ff;
    padding: 5px 13px;
    cursor: pointer;
}

/*上面部分的中间内容部分样式*/
#todoTask-content {
    width: 100%;
    border-radius: 2px;
    /*height: 100%;*/
}

#completeTask-content {
    width: 100%;
    border-radius: 2px;
}

.content-navbar {
    height: 60px;
    margin: 10px 20px;
}

.arrow-left {
    /*background: url("../images/arrow-left.png") no-repeat;*/
    float: left;
    width: 38px;
    height: 49px;
    margin-top: 7.5px;
    cursor: pointer;
    line-height: 49px;
    margin-left: -10px;
}

.arrow-right {
    /* background: url("../images/arrow-right.png") no-repeat;*/
    float: right;
    width: 38px;
    height: 49px;
    margin-top: -52.5px;
    margin-right: 6px;
    cursor: pointer;
    line-height: 49px;
}

.ecmp-common-nextpage {
    font-size: 50px;
    /*color: #EEEEEE;*/
    font-weight: bold;
}

.ecmp-common-prepage {
    font-size: 50px;
    /*color: #EEEEEE;*/
    font-weight: bold;
}

.page-btn {
    color: #EEEEEE;
}

.page-gray {
    color: #45B7FF;
}

.navber-count {
    float: left;
    width: 15%;
    margin-left: 1%;
    cursor: pointer;
}

.navber-count:hover .navbar-circle {
    background-color: #45b7ff;
    border: 1px solid #45b7ff;
    color: #FFFFFF;
}

.navber-count:hover .navber-text {
    color: #45b7ff;
}

.navbar-circle {
    width: 38px;
    height: 38px;
    border: 1px solid #333333;
    text-align: center;
    line-height: 38px;
    margin: 0 auto;
    border-radius: 50%;
    color: #333333;
    font-size: 20px;
    cursor: pointer;
}

.navber-text {
    font-size: 14px;
    color: #666666;
    text-align: center;
    /*margin-top: 10px;*/
}

.nav-select .navbar-circle {
    background-color: #45b7ff;
    border: 1px solid #45b7ff;
    color: #FFFFFF;
}

.nav-select .navber-text {
    color: #45b7ff;
}

.content-info {
    margin: 0 10px;
    /*border-top: 1px solid #eeeeee;*/
    overflow: hidden;
    /*width: 100%;*/
    height: 100%;
}

#completeTask-content .content-info {
    border-top: none;
}

.info-left {
    width: 100%;
    line-height: 100%;
    overflow: auto;

}

/*.info-items:nth-child(odd) {
    margin-right: 5.5%;
}*/

.info-item {
    width: 100%;
    float: left;
    border-bottom: 1px solid #eeeeee;
    /*padding: 20px 10px 16px;*/
    overflow: hidden;
}

.info-items {
    /*width: 45%;*/
    /*float: left;*/
    border-bottom: 1px solid #eeeeee;
    padding: 5px 10px;
    overflow: hidden;
}

.item {
    margin-top: 5px;
    padding: 0 10px;
}

.item.operation {
    background-color: #fafafa;
    height: 30px;
}

.flow-text {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
}

.digest {
    color: #333333;
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis; /*针对Opera*/
    white-space: nowrap;
    width: 70%;
    vertical-align: middle;
}

.item-right {
    float: right;
}

.task-item-right {
    float: right;
    margin-top: 5px;
}

.over-text {
    font-size: 14px;
    color: #ff0000;
}

.user {
    margin: 20px 0;
}

.remark {
    overflow: hidden;
    text-overflow: ellipsis;
}

.userName {
    display: inline-block;
    font-size: 12px;
    color: #999999;
    /*margin-left: 20px;*/
}

.todo-date {
    display: inline-block;
}

.todo-date > span {
    font-size: 12px;
}

.user-name {
    font-size: 12px;
    color: #999999;
}

.content-state {
    color: #999999;
    font-size: 12px;
    width: 50%;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.end {
    display: inline-block;
}

.end > .todo-btn {
    display: inline-block;
    height: 20px;
    cursor: pointer;
    margin-right: 30px;
}

.todo-btn > span {
    line-height: 20px;
    vertical-align: middle;
    font-size: 12px;
    color: #757375;;
}

.todo-btn > i {
    color: #B1B1B1;
}

.approve-btn > span {
    font-weight: bold;
}

.end-text {
    font-size: 12px;
    color: #999999;
}

.end > .todo-end-btn {
    margin-right: 0px;
}

.end-icon {
    cursor: pointer;
    margin-right: 3px;
    padding-top: 2px;
    vertical-align: middle;
}

.turn-to-do-icon {
    /*  width: 14px;
      height: 14px;
      background: url("../images/back.png") no-repeat;
      background-size: cover;*/
    vertical-align: middle;
    /*   display: inline-block;*/
    margin-right: 5px;
    cursor: pointer;
    /*  margin-left: 5px;*/
    font-size: 16px !important;
}

.reject-icon {
    /* width: 14px;
     height: 14px;
     background: url("../images/back.png") no-repeat;
     background-size: cover;*/
    vertical-align: middle;
    /*  display: inline-block;*/
    margin-right: 5px;
    cursor: pointer;
    /*  margin-left: 5px;*/
    font-size: 20px;
    display: inline-block;
    height: 25px;
}

.claim-icon {
    /*  width: 14px;
      height: 14px;
      background: url("../images/back.png") no-repeat;
      background-size: cover;*/
    vertical-align: middle;
    /*   display: inline-block;*/
    margin-right: 5px;
    cursor: pointer;
    /*  margin-left: 5px;*/
    font-size: 18px;
}

.endFlow-icon {
    /*  width: 14px;
      height: 14px;
      background: url("../images/img/flowEnd.png") no-repeat;
      background-size: cover;*/
    vertical-align: middle;
    /* display: inline-block;*/
    margin-right: 18px;
    cursor: pointer;
    /* margin-left: 5px;*/
    font-size: 18px;
}

.backout-icon {
    /* width: 14px;
     height: 14px;
     background: url("../images/backout.png") no-repeat;
     background-size: cover;*/
    vertical-align: middle;
    /* display: inline-block;*/
    margin-right: 6px;
    cursor: pointer;
    font-size: 15px;
}

.look-icon {
    /* width: 14px;
     height: 14px;
     background: url("../images/look_icon.png") no-repeat;
     background-size: cover;
     display: inline-block;*/
    vertical-align: middle;
    margin-right: 2px;
    cursor: pointer;
    /* margin-left: 5px;*/
}

.time-icon {
    /* width: 14px;
      height: 14px;
      background: url("../images/time_icon.png") no-repeat;
    background-size: cover;*/
    vertical-align: middle;
    /*   display: inline-block;*/
    margin-right: 5px;
    cursor: pointer;
    /*  margin-left: 5px;*/
}

.flow-time-icon {
    /* width: 12px;
     height: 12px;
     background: url("../images/time_icon.png") no-repeat;
     background-size: cover;*/
    vertical-align: middle;
    /*  display: inline-block;*/
    margin-right: 5px;
    /*  margin-left: 5px;*/
}

/*
.look-icon{
    display: inline-block;
    background: url("../images/look_icon.png") no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    cursor: pointer;
}
.time-icon{
    display: inline-block;
    background: url("../images/time_icon.png") no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
*/
.content-page {
    height: 50px;
    padding: 0 20px;
    overflow: hidden;
}

.record-total {
    font-size: 12px;
    color: #999999;
    line-height: 50px;
    float: left;
}

.pege-right {
    font-size: 12px;
    line-height: 50px;
    float: right;
}

.pege-right a {
    text-decoration: none;
    outline: none;
    color: #999999;
    display: block;
    float: left;
    line-height: 50px;
}

.pege-right > input {
    text-decoration: none;
    outline: none;
    color: #999999;
    display: block;
    float: left;
    line-height: 50px;
}

.pege-right .hover {
    color: #45b7ff;
    font-weight: bold;
}

.pege-right > .one {
    color: #000;
    height: 18px;
    margin-left: 10px;
    margin-top: 16px;
    text-align: center;
    width: 30px;
}

.pege-right > .first-page {
    width: 52px;
}

.pege-right > .prev-page {
    width: 55px;
}

/*.num{
    margin-left: 24px;
    width: 8px;
}*/
.next-page {
    margin-left: 12px;
    width: 54px;
}

.end-page {
    margin-left: 10px;
    width: 40px;
}

.approve-node {
    font-size: 14px;
    color: #ff7d1e;
}

/*中间部分的内容部分的样式（很多样式与上面内容部分共用）*/

.taken-center {
    /*padding-top: 30px;*/
    background: #FFFFFF;
}

.data {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    overflow: hidden;
}

#dateField {
    float: right;
    overflow: hidden;
}

#completeOrder-content {
    width: 100%;
    border-radius: 2px;
}

#todoOrder-content {
    height: 100%;
}

.taken-invoices {
    font-size: 14px;
    /*color: #45b7ff;*/
    padding-right: 25px;
}

.wait-invoices {
    font-size: 14px;
    color: #999999;
    padding: 0 25px 0 10px;
    /*border-left: 2px solid #999999;*/
    cursor: pointer;
}

.wait-invoices:hover {
    color: #45b7ff;
}

.general {
    font-size: 14px;
    color: #999999;
}

.ux-field-element .ux-trigger-box {
    height: 24px;
}

.ux-trigger-box .ux-date-trigger {
    margin-top: 4px;
}

/*导航部分的样式*/
.navbar {
    /*width:98%;*/
    height: 60px;
    overflow: hidden;
}

.active {
    color: #45b7ff;
    /*border-left: 2px solid #45b7ff;*/
}

.checkbox {
    display: inline-block;
    background: url("../images/check.png") no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.check-all {
    display: inline-block;
    background: url("../images/check.png") no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.checked {
    background: url("../images/checked.png") no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.check-box {
    display: inline-block;
    width: 55px;
}

/*label{
    color: #ff7d1e;
}*/
.content-skip {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #dddddd;
    margin: 0 10px;
    padding: 0 10px;
}

.check-all {
    margin-right: 7px;
}

.end-all {
    margin-left: 10px;
}

.rim {
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 100%;
}

.approve-btn {
    cursor: pointer;
}

.claim-btn {
    cursor: pointer;
}

.endFlow-btn {
    cursor: pointer;
}

.empty-data {
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

.not-data-msg {
    color: #999999;
    cursor: pointer;
    display: inline-block;
    left: 38%;
    padding: 10px;
    position: absolute;
    top: 48%;
}

.icon-size {
    font-size: 16px;
}

.time-icon-size {
    font-size: 12px;
}

.handle-icon-size {
    font-size: 15px;
}

.pege-right .pageDisable {
    font-weight: normal;
    color: #ccc;
}

.hoverPage {
    font-weight: normal;
    color: #ccc;
}

.module-all {
    -moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    background-color: #3671cf;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    margin: 1px 3px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 75px;
    position: relative;
}

.todo-count {
    background: #ffa31c none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 12px;
    height: 25px;
    left: 63px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: -12px;
    width: 25px;
    display: none;
}

.load-more{
    color: #a6a6a6;
    text-align: center;
    padding: 10px;
}

.load-more span{
    cursor: pointer;
}

.load-more span:hover{
    color: black;
}



