.flow-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.flow-content * {
    font-size: 12px;
}

.flow-grid {
    background: url("../images/flow_grid.png") repeat;
}

.flow-border {
    border: 1px solid #cccccc;
}

.flow-item-box {
    text-align: center;
}

.node-choosed {
    text-align: center;
    position: absolute;
    opacity: 0.5;
    cursor: no-drop;
    margin-top: 0;
}

.flow-node {
    text-align: center;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

.flow-task:hover {
    box-shadow: 0 0 6px #4487e5;
    border: 2px solid #4487e5;
}

.flow-item-title {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #333333;
    cursor: pointer;
}

.flow-item-box .select {
    color: #45b7ff;
    font-weight: bold;
}

.flow-task {
    background: #f7fbff  none repeat scroll 0 0;
    border: 2px solid #cdcdcd;
    border-radius: 4px;
    display: inline-block;
    height: 50px;
    margin-top: 20px;
    padding-top: 8px;
    width: 90px;
}

.flow-item-space {
    background: url("../images/flow_space.png") no-repeat;
    height: 1px;
    width: 100%;
}

.flow-event-box {
    height: 72px;
    padding-top: 10px;
}

.flow-task-box {
    height: 92px;
}

.flow-gateway-box {
    height: 70px;
    padding-top: 20px;
}

.flow-item-content .last {
    margin-bottom: 20px;
    padding-top: 13px;
}

.flow-event-start {
    background: url("../images/flow_start.png") no-repeat scroll 0 0/cover;
    display: inline-block;
    height: 45px;
    width: 45px;
    vertical-align: middle;
}

.flow-event-start:hover {
    background: url("../images/flow_start_select.png") no-repeat scroll 0 0/cover;
    height: 45px;
    width: 45px;
}

.flow-event-end {
    background: url("../images/flow_end.png") no-repeat scroll 0 0/cover;
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    vertical-align: middle;
}

.flow-event-terminateend {
    background: url("../images/flow_terminate_end.png") no-repeat scroll 0 0/cover;
    display: inline-block;
    height: 45px;
    width: 45px;
    line-height: 45px;
    vertical-align: middle;
}

.flow-event-iconbox {
    display: inline-block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
}

.flow-event-end:hover {
    background: url("../images/flow_end_select.png") no-repeat scroll 0 0/cover;
    height: 45px;
    width: 45px;
}

.flow-event-terminateend:hover {
    background: url("../images/flow_terminate_end_select.png") no-repeat scroll 0 0/cover;
    height: 45px;
    width: 45px;
}

.parallelgateway {
    background: url("../images/flow_gateway_sync.png") no-repeat scroll 0 0/cover;
    display: inline-block;
    height: 53px;
    width: 53px;
}

.parallelgateway:hover {
    background: url("../images/flow_gateway_sync_select.png") no-repeat scroll 0 0/cover;
    height: 53px;
    width: 53px;
}

.exclusivegateway {
    background: url("../images/flow_gateway_fork.png") no-repeat scroll 0 0/cover;
    display: inline-block;
    height: 53px;
    width: 53px;
}

.exclusivegateway:hover {
    background: url("../images/flow_gateway_fork_select.png") no-repeat scroll 0 0/cover;
    height: 53px;
    width: 53px;
}

.inclusivegateway {
    background: url("../images/flow_gateway_condition.png") no-repeat scroll 0 0/cover;
    display: inline-block;
    height: 53px;
    width: 53px;
}

.inclusivegateway:hover {
    background: url("../images/flow_gateway_condition_select.png") no-repeat scroll 0 0/cover;
    height: 53px;
    width: 53px;
}

.eventgateway {
    background: url("../images/flow_gateway_event.png") no-repeat scroll 0 0/cover;
    display: inline-block;
    height: 53px;
    width: 53px;
}

.eventgateway:hover {
    background: url("../images/flow_gateway_event_select.png") no-repeat scroll 0 0/cover;
    height: 53px;
    width: 53px;
}

.flow-task .usertask {
    background: url("../images/flow_task_user.png") no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.currentNode .usertask {
    background: url("../images/flow_task_user_currentNode.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.flow-task .singletask {
    background: url("../images/singletask.png") no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.currentNode .singletask {
    background: url("../images/singletask_currentNode.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.flow-task .countertask {
    background: url("../images/countertask.png") no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.currentNode .countertask {
    background: url("../images/countertask_currentNode.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.flow-task .serial-countertask::before {
    background: url("../images/flow_serial_task_title.png") no-repeat scroll 0 0 / cover;
    content: "";
    float: left;
    height: 12px;
    margin-left: -28px;
    width: 12px;
}

.currentNode .serial-countertask::before {
    background: url("../images/flow_serial_task_title_currentNode.png") no-repeat scroll 0 0 / cover !important;
    content: "";
    float: left;
    height: 12px;
    margin-left: -28px;
    width: 12px;
}

.flow-task .parallel-countertask::before {
    background: url("../images/flow_parallel_task_title.png") no-repeat scroll 0 0 / cover;
    content: "";
    float: left;
    height: 12px;
    margin-left: -28px;
    width: 12px;
}

.currentNode .parallel-countertask::before {
    background: url("../images/flow_parallel_task_title_currentNode.png") no-repeat scroll 0 0 / cover !important;
    content: "";
    float: left;
    height: 12px;
    margin-left: -28px;
    width: 12px;
}

.flow-task .servicetask {
    background: url("../images/flow_task_service.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.currentNode .servicetask {
    background: url("../images/flow_task_service_currentNode.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.flow-task .emailtask {
    background: url("../images/flow_task_mail.png") no-repeat;
    display: inline-block;
    height: 20px;
    width: 24px;
}

.flow-task .scripttask {
    background: url("../images/flow_task_script.png") no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.flow-task .manualtask {
    background: url("../images/flow_task_man.png") no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.currentNode .manualtask {
    background: url("../images/flow_task_man_currentNode.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.flow-task .approvetask {
    background: url("../images/flow_approve_task.png") no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.currentNode .approvetask {
    background: url("../images/flow_approve_task_currentNode.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.flow-task .paralleltask {
    background: url("../images/flow_parallel_task.png") no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.currentNode .paralleltask {
    background: url("../images/flow_parallel_task_currentNode.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.flow-task .serialtask {
    background: url("../images/flow_serial_task.png") no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.currentNode .serialtask {
    background: url("../images/flow_serial_task_currentNode.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.flow-task .receiveTask {
    background: url("../images/flow_task_receive.png") no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.flow-task .poolTask {
    background: url("../images/flow_task_pool.png") no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.currentNode .poolTask {
    background: url("../images/flow_task_pool_currentNode.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.currentNode .receiveTask {
    background: url("../images/flow_task_receive_currentNode.png") no-repeat !important;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.flow-task .callActivity {
    /*background: url("../images/flow_task_script.png") no-repeat;*/
    /*display: inline-block;*/
    /*height: 20px;*/
    /*width: 20px;*/
    margin-top: 15px;
}

.flow-task[type="CallActivity"] {
    border-width: 4px;
}

.flow-task[type="CallActivity"] > .flow-task-delete {
    margin-top: -34px;
}

.node-dot {
    background-color: orange;
    bottom: 45%;
    box-shadow: 0 0 2px black;
    cursor: pointer;
    height: 14px;
    position: absolute;
    right: 5px;
    transition: box-shadow 0.25s ease-in 0s;
    width: 14px;
    display: none;
}

.flow-event-box .node-dot {
    bottom: 46%;
}

.flow-gateway-box .node-dot {
    right: 10px;
}

.flow-node:hover .node-dot {
    display: block;
}

.node-choosed {
    text-align: center;
    position: absolute;
    opacity: 0.5;
    cursor: no-drop;
    margin-top: 0;
    padding-top: 5px;
}

.flow-info {
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    float: left;
    padding: 8px 20px;
    background-color: #fcfcfc;
    margin-right: 10px;
    cursor: pointer;
}

.flow-edit {
    width: 10px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/flow-edit.png");
}

.flow-info-text {
    font-size: 14px;
    font-weight: bold;
    color: #337edd;
}

.flow-tbar-right {
    float: right;
    margin-top: 2px;
}

.flow-tbar-btn {
    border-radius: 4px;
    color: white;
    padding: 6px 20px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    color: #337edd;
    border: 1px solid #d2d2d2;
    background: #fcfcfc
}

.flow-tbar-btn:hover {
    background: #71d1f1;
    color: white;
}

.flow-tbar-right .deploy {
    background: #71d1f1;
    color: white;
}

.flow-tbar-right .clear {
    margin-right: 0px;
}

.flow-input {
    float: left;
    height: 37px;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    background-color: #fcfcfc;
    display: none;
}

.ux-tab-li {
    height: 35px;
    top: -2px;
    border: none;
    font-size: 16px;
}

.ux-tab-actived {
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    background: white;
    font-size: 16px;
}

.ux-tab-title {
    font-size: 16px;
    color: #0088cc;
    padding: 2px 0 0 15px;
}

.ux-tab-actived .ux-tab-title {
    color: #555555;
}

.ux-tab-header {
    height: 36px;
}

.calculate-btn {
    border: 1px solid #eaf1fb;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin: 0 5px 10px;
    padding: 6px 0;
    text-align: center;
    width: 90px;
    background: #F2F6FC;
}

.property-box {
    text-align: center;
}

.property-item {
    background: #f2f6fc none repeat scroll 0 0;
    border: 1px solid #eaf1fb;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 10px;
    padding: 7px 0;
    text-align: center;
    width: 128px;
}

.flow-line-note {
    background-color: white;
    border: 1px dotted gray;
    color: #444;
    cursor: pointer;
    font: 12px sans-serif;
    opacity: 0.8;
    padding: 0.4em;
    z-index: 21;
    max-width: 160px;
}

.condetail-operate {
    width: 55px;
    height: 15px;
    line-height: 15px;
    margin: 0 auto;
    text-align: center;
}

.condetail-delete {
    cursor: pointer;
}

.node-delete {
    background-color: red;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font: bold 16px sans-serif;
    height: 20px;
    text-align: center;
    width: 20px;
    z-index: 21;
}

.node-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -5px;
}

.node-choosed .node-title {
    max-width: 89px;
    min-width: 72px;
}

.node-choosed .gateway-title {
    max-width: 75px;
}

.flow-gateway-iconbox {
    display: inline-block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
}

.flow-gateway-iconbox div {
    vertical-align: middle;
}

.manualExclusivegateway {
    background: url("../images/flow_gateway_manual.png") no-repeat scroll 0 0/cover;
    display: inline-block;
    height: 51px;
    width: 51px;
}

.manualExclusivegateway:hover {
    background: url("../images/flow_gateway_manual_select.png") no-repeat scroll 0 0/cover;
    height: 53px;
    width: 53px;
}

/*兼容*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #D6D6D6;
    font-size: 14px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #D6D6D6;
    font-size: 14px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #D6D6D6;
    font-size: 14px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #D6D6D6;
    font-size: 14px;
}

/*左边部分*/
.notify-west {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    border: 1px solid #EAEAEA;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 100;
    border-right: none;
}

.notify-center {
    background-color: #f3f8fb;
    border: 1px solid #eaeaea;
    display: inline-block;
    height: 365px;
    left: 100px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    width: 445px;
}

.west-navbar {
    text-align: center;
    background-color: #f9f9f9;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    color: #888888;
    border-right: 1px solid #EAEAEA;
}

.west-navbar:not(:first-child) {
    border-top: 1px solid #EAEAEA;
}

.west-navbar:hover {
    background-color: #f3f8fb;
    border-right: 1px solid #EAEAEA;
    color: #237DBC;
}

.select-navbar {
    background-color: #f3f8fb;
    border-right: 1px solid #f3f8fb;
    color: #237DBC;
}

.notify-user {
    height: 40px;
    padding: 12px 12px 0;
}

.notify-user .select {
    background: #bed5f3 none repeat scroll 0 0;
    color: white;
}

.notify-user-item {
    border: 1px solid #bed5f3;
    cursor: pointer;
    float: left;
    padding: 8px 0;
    text-align: center;
    width: 136px;
}

.notify-user-item:nth-child(2) {
    border-left: none;
    border-right: none;
}

.notify-user-item:nth-child(2):last-child {
    border: 1px solid #bed5f3;
    border-left: none;
}

.flow-content .currentNode {
    background: #4587e5 none repeat scroll 0 0;
    border: 1px solid #4587e5;
    box-shadow: 0 0 8px #4587e5;
    color: white;
}

.flow-content .currentNode[type='CallActivity'] {
    border-width: 4px;
}

.arrow-right {
    width: 22px;
    margin: 130px auto 0;
    margin-top: 149px;
    cursor: pointer;
}

.arrow-left {
    width: 22px;
    cursor: pointer;
    margin: 45px auto 0;
    margin-top: 15px;
}

.flow-event-delete {
    margin-top: -71px;
}

.flow-task-delete {
    margin-top: -50px;
}

.flow-gateway-delete {
    margin-top: -73px;
}

.delete-node {
    float: right;
}

.tipbox {
    background: #fffcef none repeat scroll 0 0;
    border: 1px solid #ffbb76;
    border-radius: 3px;
    padding: 3px;
    position: relative;
    text-align: left;
}

.tipbox h3 {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    padding: 3px;
    line-height: 25px;
}

#moreinfo {
    left: -1px;
    position: absolute;
    top: 39px;
    background-color: white;
    border: 1px solid #c4cfd5;
    border-top: none;
    display: none;
    z-index: 60;
}
#workFlowFormPanelToolBar .ux-toolbar-item{
    float: left;
    margin-right: 2px !important;
}
#notifyBeforeChoosePositionBtn .ux-btn-title{
    line-height: 20px;
    margin-right: 0;
    padding: 0 5px;
}
#notifyAfterChoosePositionBtn .ux-btn-title{
    line-height: 20px;
    margin-right: 0;
    padding: 0 5px;
}
