<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <th:block th:include="base/base :: base_head"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>应用模块</title>
    <link rel="stylesheet" type="text/css"
          data-th-href="@{/static/styles/css/CommonView.css}">
    <script type="text/javascript"
            data-th-src="@{/static/scripts/maindata/AppModuleView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/lang/lang.js}"></script>
    <script type="text/javascript">
        var appModuleView;
        EUI.onReady(function () {
            appModuleView = new EUI.AppModuleView({
                renderTo: "content"
            });
        });
    </script>
</head>
<body>
<div id="content"></div>
</body>
</html>