<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="base/base :: base_head"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>流程任务历史跟踪</title>
    <link rel="stylesheet" type="text/css"
          data-th-href="@{/static/styles/css/FlowHistoryView.css}">
    <link rel="stylesheet" type="text/css"
          data-th-href="@{/static/styles/css/FlowHistoryComponentView.css}">
    <script type="text/javascript"
            data-th-src="@{/static/scripts/maindata/FlowHistoryView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/lang/lang.js}"></script>
    <script type="text/javascript">
        var flowHistoryView;
        EUI.onReady(function () {
            flowHistoryView = new EUI.FlowHistoryView({
                renderTo: "content"
            });
        });
    </script>
</head>
<body>
<div id="content"></div>
</body>
</html>
