<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="base/base::base_head"></th:block>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <script type="text/javascript"
            data-th-src="@{/static/lang/lang.js}"></script>
    <script type="text/javascript">
        var flowView;
        var id = EUI.util.getUrlParam("id");
        var taskId = EUI.util.getUrlParam("taskId");
        var submitUrl = EUI.util.getUrlParam("submitUrl");
        EUI.onReady(function () {
            flowView = EUI.FlowApprove({
                busId: id,
                taskId: taskId,
                iframeHeight: 610,
                renderTo: "content",
//                goNext: function () {
//                    return this.iframe.lookApproveBillView.checkIsValid();
//                },
                baseUrl : _ctxPath+"/defaultBusinessModel3",
                pageUrl: _ctxPath + "/defaultBusinessModel3/orderEdit",
                submitUrl: _ctxPath + "/defaultBusinessModel3/completeTask"
            });
        });
    </script>
</head>
<body style="background: white;">
<div id="content"></div>
</body>
</html>

