<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base/base :: base_head"/>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css"
          data-th-href="@{/static/styles/css/MainPageView.css}">
    <link rel="stylesheet" type="text/css"
          data-th-href="@{/static/styles/css/BatchApprove.css}">
    <script type="text/javascript"
            data-th-src="@{/static/scripts/task/MainPageData.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/task/MainPageView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/task/TodoTaskView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/task/CompleteTaskView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/task/ProcessingOrderView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/task/MyOrderView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/task/CompleteOrderView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/task/BatchApproveListView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/task/BatchApproveUserView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/lang/lang.js}"></script>
    <title>任务界面</title>
    <script type="text/javascript">
        var mainPageView;
        EUI.onReady(function () {
            mainPageView = new EUI.MainPageView();
        });
    </script>
</head>
<body style="padding: 6px;min-width: 1000px;">
<div id="todotask"></div>
<div id="completetask"></div>
<div id="myorder"></div>
</body>
</html>