<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow: auto;">
<head>
    <th:block th:include="base/base::base_head"></th:block>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>导入测试界面</title>
    <link rel="stylesheet" type="text/css"
          data-th-href="@{/static/styles/css/ImportView.css}">
    <script type="text/javascript"
            data-th-src="@{/static/data/flow_node.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/data/flow_uel_btn.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/ext/jsPlumb/jsplumb-2.2.10.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/design/ImportView.js}"></script>

    <script type="text/javascript">

        EUI.onReady(function () {
            flowView = new EUI.ImportView({
                renderTo: "content"
            });
        });
    </script>
</head>
<body style="background: white;min-width: 1100px;">
<div id="content"></div>
</body>
</html>

