<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow: auto;">
<head>
    <th:block th:include="base/base::base_head"></th:block>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>流程设计界面</title>
    <link rel="stylesheet" type="text/css"
          data-th-href="@{/static/styles/css/WorkFlowView.css}">
    <script type="text/javascript"
            data-th-src="@{/static/data/flow_node.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/data/flow_uel_btn.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/ext/jsPlumb/jsplumb-2.2.10.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/design/WorkFlowView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/design/FlowNodeSettingView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/design/UELSettingView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/scripts/design/WorkFlowMoreInfoView.js}"></script>
    <script type="text/javascript"
            data-th-src="@{/static/lang/lang.js}"></script>
    <script type="text/javascript">
        var flowView, orgName;
        var id = EUI.util.getUrlParam("id");
        var orgId = EUI.util.getUrlParam("orgId");
        var orgCode = EUI.util.getUrlParam("orgCode");
        var versionCode = EUI.util.getUrlParam("versionCode");
        var businessModelId = EUI.util.getUrlParam("businessModelId");
        var businessModelCode = EUI.util.getUrlParam("businessModelCode");
        var isCopy = EUI.util.getUrlParam("isCopy") == "true";
        var isFromVersion = EUI.util.getUrlParam("isFromVersion") == "true";
        if (isCopy && !isFromVersion) {
            orgName = decodeURIComponent(EUI.util.getUrlParam("orgName"));
        }
        EUI.onReady(function () {
            flowView = new EUI.WorkFlowView({
                id: id,
                orgId: orgId,
                orgCode: orgCode,
                orgName: orgName,
                businessModelId: businessModelId,
                businessModelCode: businessModelCode,
                versionCode: versionCode || -1,
                isCopy: isCopy,
                isFromVersion: isFromVersion,
                renderTo: "content"
            });
        });
    </script>
</head>
<body style="background: white;min-width: 1100px;">
<div id="content"></div>
<div id="moreinfo"></div>
</body>
</html>

