.work_table_box {
    border-bottom: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
}

.work_table_box:not(:first-child) {
    border-top: none;
}

.work_table_box div {
    display: inline-block;
}

.work_checkBox {
    border-right: 1px solid #ddd;
    line-height: 40px;
}

/*.work_checkBox > input {*/
/*margin-right: 10px;*/
/*}*/

.work_info_left {
    margin-left: 10px;
}

.work_info_left > div:first-child {
    width: 400px;
}

.work_info_right {
    float: right;
    line-height: 40px;
}

.work_info_left > div:first-child {
    font-weight: bold;
}

.work_info_left > div:last-child {
    color: #6e6e6e;
}

.work_info {
    width: 94%;
    line-height: 40px;
}

.work_checkBox {
    padding: 0 10px;
    width: 13px;
}

.work_info_right > div:first-child {
    margin-right: 20px;
}

.work_info_right > div {
    color: #a7a7a7;
}

.process_box {
    border: 1px solid #cccccc;
    box-shadow: #ddd 0 0 5px;
    margin-bottom: 20px;
}

.task_info {
    border-top: 1px solid #cccccc;
}

.task_info_operator div {
    display: inline-block;
}

.task_type_title {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #5294c7;
    font-weight: bold;
    background-color: rgba(156, 197, 251, 0.16);
}

.task_info > div:not(:last-child) {
    height: 40px;
    line-height: 40px;
}

.operator_title {
    width: 65px;
    vertical-align: top;
    color: #909090;
    line-height: 40px;
}

.operator_info {
    width: 90%;
}

.task_info_title {
    background-color: rgba(221, 221, 221, 0.17);
    padding: 0 20px;
}

.info_right {
    margin-left: 5px;
    line-height: 40px;
}

.task_info_operator, .task_info_opinion {
    padding: 0 20px;
}

.task_info_opinion > div {
    display: inline-block;
}

.info_radio {
    vertical-align: middle;
    margin-right: 5px;
}

.operator_info > div {
    width: 48%;
    vertical-align: top;;
}

.task_info_operator {
    margin-bottom: 10px;
}

.operator_info > div > div:last-child {
    line-height: 40px;
}

.user-item {
    cursor: pointer;
}

.choose-icon {
    margin: 12px 5px 0 9px;
}











