.btn_operate{width:30px;height:16px;line-height:14px;margin:0 auto}
.condetail_operate>div{
    margin: 0 6px;
}
.rollBackBtn {
   /* width: 26px;
    height: 17px;
    float: right;*/
    cursor: pointer;
   /* color: firebrick;*/
}
#content .ux-bar-right .ux-toolbar-item{
    margin-right: 0;
}