.condetail_operate{
    width:82px;
    height:15px;
    line-height:15px;
    margin:0 auto
}
.condetail_operate>div{
    margin: 0 6px;
}
.condetail_update {
    width: 15px;
    height: 15px;
    float: left;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: 0 -160px;
}

.condetail_delete {
    width: 15px;
    height: 15px;
    float: left;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: -32px -160px;
}


.condetail_operateDefVersion{
    width:50px;
    height:15px;
    line-height:15px;
    margin:0 auto
}

.condetail_defVerOperate{
    width:44px;
    height:15px;
    line-height:15px;
    margin:0 auto
}
.condetail_updateDefVersion {
    width: 15px;
    height: 15px;
    float: left;
    margin-left: 7px;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: 0 -160px;
}

.condetail_deleteDefVersion {
    width: 15px;
    height: 15px;
    cursor: pointer;
    float: right;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: -32px -160px;
}
/*.condetail_update:hover{background-position:0 -160px}*/
/*.condetail_delete:hover{background-position:-32px -160px}*/

.btn_operate{width:60px;height:16px;line-height:16px;margin:0 auto}
.agreeBtn {
    width: 16px;
    height: 16px;
    float: left;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    /*background-position: 0 0;*/
}
.nagreeBtn {
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat -16px 0;
    /*background-position: -16px 0;*/
}
.ux-bar-right>.ux-toolbar-item{
    margin-right: 0;
}
.condetail_look{
    width: 15px;
    height: 15px;
    cursor: pointer;
    float: left;
    background: url("../images/operate_look2.png") no-repeat;
}
.condetail_set{
    width: 15px;
    height: 15px;
    cursor: pointer;
    float: left;
    background: url("../images/operate_set2.png") no-repeat;
}
.arrow-right{
    background: url("../images/operate_arrow_right.png") no-repeat;
    width: 22px;
    height: 22px;
    margin: 159px auto 0;
    /*margin-top: 200px;*/
    cursor: pointer;
    font-size:25px;
}
.arrow-left{
    background: url("../images/operate_arrow_left.png") no-repeat;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin: 25px auto 0;
    /*margin-top: 10px;*/
    font-size:25px;
}
.icon-space {
    margin-right: 10px;
}
.fontcusor{
    cursor: pointer;
}

.ecmp-common-version{
    font-size: 21px;
}