.container {
	width: 600px;
	height: 450px;
	border: 1px solid #000;
}

.toptop-right{
	width: 40px;
	height: 40px;
}
.flow-toptoptabicon{
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.flow-infoimg:hover  {
	background: url(../images/img/flowSelDesgin.png) no-repeat;
}


.top {
	width: 600px;
	height: 55px;
	/*border: 1px solid #000;*/
	overflow: hidden;
}

.top-left {
	width: 299px;
	height: 55px;
	float: left;
	text-align: center;
	/*border: 1px solid #000;*/
}

.flow-line {
	border-left: 1px solid #8edede;
	float: left;
	height: 38px;
	margin-top: 5px;
	width: 1px;
}

.flow-status {
	width: 200px;
	height: 70px;
	margin: 0 auto;
	margin-top: 15px;
	cursor: pointer;
	/*border: 1px solid #000;*/
}

.flow-statusimg {
	/*background: url(../images/img/flowstatusImg.png) no-repeat;
	background-size: cover;*/
}

/*.flowselect .flow-statusimg {
	background: url(../images/img/flowstatusSelImg.png) no-repeat;
	background-size: cover;
}*/
.ecmp-flow-handlestatus{
	color:#cfcfcf;
	font-size:31px;
}
.flowselect .ecmp-flow-handlestatus{
	color:#45b7ff;
}
/*.navbar:hover .flow-statusimg {
	background: url(../images/img/flowstatusSelImg.png) no-repeat;
	background-size: cover;
}*/
.navbar:hover .ecmp-flow-handlestatus{
	color:#45b7ff;
}


/*.flow-statusimg:hover{
	width: 40px;
	height: 40px;
	 margin:0 auto;
	background: url(../images/img/flowstatusSelImg.png) no-repeat;
}*/

.navbar:hover .text {
	color: #45b7ff;
}

.flowselect .text {
	color: #45b7ff;
}

.flow-tabicon {
	width: 30px;
	height: 30px;
	margin: 3px auto 0 ;
	line-height:30px;
}

.top-center {
	width: 298px;
	height: 55px;
	float: left;
	/*border: 1px solid #000;*/
}

.flow-history {
	width: 190px;
	height: 70px;
	margin: 0 auto;
	margin-top: 15px;
	cursor: pointer;
}

/*.navbar:hover .flow-historyimg {
	background: url(../images/img/flowhistorySelImg.png) no-repeat;
	background-size: cover;

}*/
.ecmp-flow-handlehistory {
	font-size:33px;
	color: #cfcfcf
}
.navbar:hover .ecmp-flow-handlehistory {
	color:#45b7ff;
}
.flow-historyimg {
	/*background: url(../images/img/flowhistoryImg.png) no-repeat;*/
	/*background-size: cover;*/
}

/*.flowselect .flow-historyimg {
	background: url(../images/img/flowhistorySelImg.png) no-repeat;
	background-size: cover;

}*/

.flowselect .ecmp-flow-handlehistory{
	color:#45b7ff;
}

/*.flow-historyimg:hover{
	width: 40px;
	height: 40px;
	 margin:0 auto;
	background:url(../images/img/flowhistorySelImg.png)
}*/

.select-text {
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color: #45b7ff;
}

.top-right {
	width: 190px;
	height: 55px;
	float: left;
	/*border: 1px solid #000;*/
}

.flow-info {
	width: 190px;
	height: 70px;
	margin: 0 auto;
	margin-top: 15px;
	/*border: 1px solid #000;*/
}

.navbar:hover .flow-infoimg {
	background: url(../images/img/flowSelDesgin.png) no-repeat;
}

.flow-infoimg {
	background: url(../images/img/flowDesgin.png)
}

.flowselect .flow-infoimg {
	background: url(../images/img/flowSelDesgin.png)
}

.flow-hsitorycenter {
	height: 360px;
	/*margin: 0px 20px 20px;*/
	padding: 20px;
	background-color: #f8f9f9;
	overflow-y:auto;
}

.historycenter-info {
	height: 315px;
	/*border: 1px solid #000000;*/
}

.flow-start {
	height: 52px;
	/*border: 1px solid #000000;*/
	overflow: hidden;
	border-bottom: 1px solid #EEEEEE;
}

.flow-startimg {
	width: 16px;
	height: 16px;
	float: left;
	margin-top: -2px;
	font-size:21px;
	/*background: url(../images/img/flowstartImg.png);*/
}

.flow-startfield{
	font-size: 14px;
	color: #45b7ff;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 10px;
	float: left;
}

.flow-end {
	height: 25px;
	/*border: 1px solid #000000;*/
	overflow: hidden;
	margin-top: 10px;
	/*border-bottom: 1px solid #EEEEEE;*/
}
.flow-endImg {
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 3px;
	margin-right:-5px;
	font-size:18px;
}
.flow-endfield{
	font-size: 14px;
	color: #45b7ff;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 10px;
	float: left;
}
.flow-endright {
	float: right;
	margin-top: 5px;
	overflow: hidden;
}
.flow-endtime {
	float: left;
	font-size: 14px;
	margin-left: 10px;
	color: #333333;
}

.text {
	color: #666666;
	font-size: 14px;

	/*    margin-left: 10px;*/
	text-align: center;
}

.flow-startright {
	float: right;
	margin-top: 5px;
	overflow: hidden;
}

.flow-startuser {
	font-size: 14px;
	color: #333333;
	float: left;
}

.flow-startline {
	height: 13px;
	width: 1px;
	float: left;
	margin-top: 4px;
	margin-left: 10px;
	border-left: 1px solid #000000;
}

.flow-starttime {
	float: left;
	font-size: 14px;
	margin-left: 10px;
	color: #333333;
}

.flow-historyprogress {
	margin-left: 20px;
}

.flow-historyinfoone {
	height: 110px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	position: relative;
}

.flow-historyinfotwo {
	height: 110px;
	border: 1px solid #000000;
}

.flow-historyinfotop {
	height: 18px;
	margin-top: 20px;
	overflow: hidden;
	/*border: 1px solid #000000;*/
}

.flow-historydot {
	width: 16px;
	height: 16px;
	/*background: url(../images/img/flowDot.png);*/
	float: left;
	position: absolute;
	top: 18px;
	left: -9px;
	z-index: 1;
}

.ecmp-flow-nodedot{
	color: #B3B3B3;
	font-size: 17px;
}
.flow-historystatus {
	margin-left: 18px;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	float: left;
}

.flow-historyright {
	float: right;
	font-size: 14px;
	color: #999;
}

.flow-usetime {
	margin-top: 15px;
	font-size: 14px;
	color: #999;
	text-align: right;
}

.flow-remark {
	margin-top: 15px;
	font-size: 14px;
	color: #999;
	text-align: right;
}

.flow-statuscenter {
	height: 360px;
	/*margin: 0px 20px 20px;*/
	padding: 20px;
	background-color: #f8f9f9;
	overflow-y:auto;
}

.statuscenter-info {
	width: 520px;
	height: 305px;
	/*border:1px solid #000000;*/
}

.text-center{
	text-align: center;
	font-weight: 200;
	font-size: 25px;
	line-height:270px
}

.flow-progress {
	width: 520px;
	height: 60px;
	/*border:1px solid #000000;*/
	border-bottom: 1px solid #eeeeee;
}

.flow-progresstitle {
	width: 520px;
	height: 25px;
	/*border:1px solid #000000;*/
	font-size: 14px;
	color: #45b7ff;
	font-weight: bold;
}

.flow-progressinfo {
	width: 520px;
	height: 25px;
	/*border:1px solid #000000;*/
	font-size: 14px;
	color: #333;
	overflow: hidden;
}

.flow-progressinfoleft {
	width: 30%;
	height: 25px;
	/*border:1px solid #000000;*/
	float: left;
}

.flow-progressline {
	height: 15px;
	width: 1px;
	margin-top: 3px;
	margin-left: 10px;
	float: left;
	border-left: 1px solid #000000;
}

.flow-progressinforight {
	height: 25px;
	margin-left: 10px;
	/*border:1px solid #000000;*/
	float: left;
}