.condetail_operate {
    width: 100px;
    height: 15px;
    line-height: 15px;
    margin: 0 auto
}

.condetail_update {
    width: 15px;
    height: 15px;
    float: left;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: 0 -160px;
}

.condetail_delete {
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: -32px -160px;
}

.flowHistoryBtn {
    width: 50px;
    height: 17px;
    float: left;
    cursor: pointer;
    color:limegreen;
    /*background: url("../images/operate_bg.png") no-repeat;*/
    /*background-position: 0px 0px;*/
}

.deleteBtn {
    width: 25px;
    height: 15px;
    float: right;
    cursor: pointer;
    color:red;
    /*background: url("../images/operate_bg.png") no-repeat;*/
    /*background-position: -32px -160px;*/
}

#content .ux-bar-right .ux-toolbar-item {
    margin-right: 0;
}
.icon-space {
    margin-right: 10px;
}
.fontcusor{
    cursor: pointer;
}

.end.ecmp-flow-delete {
    color: rgba(205, 29, 63, 0.3);
    cursor: auto;
}

.ecmp-flow-history.condetail-flowHistory{
    /*font-size: 17px;*/
}