html{
    font-size: 16px;
}
#top{
    text-align: center;
}
.title{
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    margin-left: 65px;
}

#workCaption .ux-field-label{
    top: 60px;
}
#btn .ux-line-row{
    display: inline-block;
    text-align: center !important;
}
#save{
    margin-left: 220px;
    line-height: 30px;
    text-align: center !important;
}
.approve-title{
    font-weight: bold;
    line-height: 30px;
    padding-left: 5px;
}
.flow-approve-title{
    padding: 0 6px;
}
.flow-approve-title>div{
    display: inline-block;
    line-height: 50px;
}
.bills-num{
    float: left;
    font-weight: bold;
}
.created-date{
    float:right;
    width: 133px;
}
/*线性渐变兼容*/
#top{
    background: -webkit-linear-gradient(top, #FFFFFF, #D1D1D1);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#D1D1D1));
    background: -moz-linear-gradient(top, #FFFFFF, #D1D1D1);
    background: -o-linear-gradient(top, #FFFFFF, #D1D1D1);
    background: -ms-linear-gradient(top, #FFFFFF, #D1D1D1);
}