.turn-to-do-icon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
    font-size: 18px !important;
}

.handle-icon-size {
    font-size: 18px;
}