.condetail-operate {
    width: 55px;
    height: 15px;
    line-height: 15px;
    margin: 0 auto
}
.condetail-operate>div{
    margin: 0 6px;
}

.condetail-update {
    width: 15px;
    height: 15px;
    float: left;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: 0 -160px;
}

.condetail-delete {
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    background: url("../images/operate_bg.png") no-repeat;
    background-position: -32px -160px;
}

#content .ux-bar-right .ux-toolbar-item {
    margin-right: 0;
}

#comboBox span {
    font-weight: bold;
}
.icon-space {
    margin-right: 10px;
}
.fontcusor{
    cursor: pointer;
}